<button class="btn btn-danger btn-circle btn-sm" (click)="x()" style="margin-left: 95%;">X</button>

<div class="A">
   <!-- <img src="../assets/v1.png"> -->
   <div>
     <!-- <h1 style="margin-top: 10px; font-weight: bold; color: black;"> {{item.Name|uppercase}}</h1>
     -->
   </div>
    <dl>

        <dt >
            Applied Physics
        </dt>
        <dd>{{item.Applied_Physics}}</dd>
        <dt >
            Oops
        </dt>
        <dd>{{item.Oop}}</dd>
        <dt >
            Maths 1 
        </dt>
        <dd>{{item.M1}}</dd>
        <dt >
             Power system
        </dt>
        <dd>{{item.PS1}}</dd>
        <dt >
            Electric Machines 1
        </dt>
        <dd>{{item.EM1}}</dd>
        <dt >
            Advance Electric Drives
        </dt>
        <dd>{{item.AED}}</dd>
        <dt >
            Total
         </dt>
         <dd>{{item.Total}}</dd>
        <dt >
            Percetage
        </dt>
        <dd style="color:black">{{item.percentag}}%</dd>
        
    </dl>
</div>
<!--style=" float: left; margin-right: 10px ;"-->
